.big4{
    section{
        p{position: relative;
            .buy1{position: absolute;width: 138px;height: 138px;left: 70px;top: 330px;}           
            .buy2{position: absolute;width: 282px;height: 62px;left: 97px;top: 449px;}
            .buy3{position: absolute;width: 282px;height: 62px;left: 97px;top: 420px;}
            .buy4{position: absolute;width: 282px;height: 62px;left: 97px;top: 480px;}
            .buy5{position: absolute;width: 282px;height: 62px;left: 97px;top: 498px;}
            
        }
        .p6{margin: 20px 0 60px;}
    }
}
