.big4{
    section{border-bottom: 1px solid #ddd;
        .sells{margin-top: 20px;overflow: hidden;
            h2{color: #ea5313;font-size: 16px;line-height: 35px;font-size: 18px;font-weight: bold;border-bottom: 1px solid #ea5313;}
            a{width: 238px;display: inline-block;border: 1px solid #fff;overflow: hidden;float: left;
                img{width: 238px;}
                .txt{background: #efefed;padding-left: 20px;
                    .p1{line-height: 40px;color: #000;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
                    .p2{font-size:12px;color: #666;
                        span{margin-right: 15px;}
                    }
                    .p3{font-size:18px;color: #ea5313;line-height: 56px;
                        b{font-size:12px;color: #666;margin-left: 30px;
                            i{color: #57a3ea;}
                        }
                    }
                }
            }
            a:hover{border-color: #ea5313;}
        }
        
    }
}
.big8{margin-top: 115px;}
